@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Locadora de FIAPMotors</h2>
    <a asp-action="Index" asp-controller="Veiculo">Veículos</a>
    <!--Link para a página de cadastro de veículo-->
    <a asp-action="Cadastrar" asp-controller="Veiculo">Cadastro de Veículo</a>
</div>