
@{
    ViewData["Title"] = "Index";
}

<h1>Produto</h1>

<p>Produtos da loja  FIAP!!!</p>

<!-- Criar um formulário HTML com nome e preco e botão de submit -->

<<<<<<< HEAD
<form method="post" action="produto/cadastrar">
=======
<form method="post" action="/produto/cadastrar">
>>>>>>> 6fda4b618f2845b9603c69e40d131ad0c78fa69f
    <div>
        <label>Nome</label>
        <input type="text" name="nome"/>
    </div>
    <div>
        <label>Preço</label>
        <input type="number" name="preco"/>
    </div>
    <button>Cadastrar</button>
</form>