@model Veiculo

<div class="mb-3">
    <label asp-for="Placa"></label>
    <input asp-for="Placa" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Modelo"></label>
    <input asp-for="Modelo" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Marca"></label>
    <input asp-for="Marca" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Km"></label>
    <input asp-for="Km" class="form-control" />
</div>
<div class="mb-3">
    <input asp-for="Disponivel" />
    <label asp-for="Disponivel"></label>
</div>
<div class="mb-3">
    <label asp-for="Ano"></label>
    <input asp-for="Ano" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Tipo"></label>
    <select asp-for="Tipo" asp-items="@Html.GetEnumSelectList<TipoVeiculo>()" class="form-select">
        <option>Selecione</option>
    </select>
</div>
