@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FIAPFlix!</h1>
    <a asp-action="cadastrar" asp-controller="filme">Cadastrar Filme</a>
    <a asp-action="index" asp-controller="filme">Filmes</a>
</div>
